{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home-container">

    <div>

        <h3>Browse Topics</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?queryTopic={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}

    </div>

    <div>
        
        <a href="{% url 'add-user' %}">Add User</a>
        <a href="{% url 'delete-user' %}">Delete User</a>
        <a href="{% url 'create-room' %}">Create Room</a>

        <div>
            {% for room in rooms %}
            <span>@{{room.host.username}}</span>
            <a href="{% url 'room' room.id %}">
                <h3>{{room.topic.name}}</h3>
                <h4>{{room.name}}</h4>
            </a>
            
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
            <hr>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}